* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: red;
    color: black;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: red;
    color: black;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

footer a {
    color: white;
}

main {
    max-width: 100%;
    width: 100%;
}

.section1,
.section2 {
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.section1 img {
    max-width: 300px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding-top: 0;
}


h2 {
    background-color: yellow;
    color: black;
    padding: 10px;
}

h3 {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: red;
    color: black;
    margin-left: auto;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "x";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.navigation li {
    display: none;
    width: 100%;
}

.navigation a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #eee;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);

}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: red;
}

.navigation.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    background-color: #eee;
}

nav {
    position: relative;
}

.show li {
    display: block;
}

.hide {
    display: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header h1 {
    color: black;
    font-size: 50px;
}

picture img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

img[loading="lazy"] {
    animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

form {
    background-color: yellow;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}

header,
footer,
form {
    width: 100%;
}

.optional {
    color: blue;
    font-size: .85rem;
    font-weight: normal;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

legend,
label {
    font-size: .95rem;
    font-weight: bold;
    color: #000000;
    margin: 0 0 6px 0;
}

select,
input[type="date"],
textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #b3aeb5;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: .9rem;
    background-color: #ffffff;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.rating-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4px;
}

.rating-item input[type="radio"] {
    margin: 0;
    transform: scale(1.2);
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
}

.checkbox-item label {
    margin: 0;
    font-weight: normal;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
}