* {
    margin: 0;
    padding: 0;
}

header {
    color: navy;
    background-color: black;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    font-weight: 700;
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}