@media only screen and (min-width: 1000px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    h1 {
        text-align: center;
    }

    nav {
        margin-left: auto;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    nav a {
        color: white;
        padding: 0.5rem;
        text-decoration: none;
    }

    nav a:hover {
        color: rgb(240, 111, 6);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .temple-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .temple-card {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        text-align: center;
        padding: 1rem;
    }

    .temple-card h2 {
        margin-top: 0;
    }

    .temple-card span {
        color: purple;
        font-variant: small-caps;
    }

    .temple-card img {
        width: 100%;
        height: auto;
        margin-top: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    header p {
        color: #fff;
        margin: 0;
        font-size: 30px;
    }

    header,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    body {
        font-family: "Amarante", serif;
        font-weight: 400;
        font-style: normal;
    }

    .hide {
        display: block;
    }
}